In [1]:
import pandas as pd
patient_df = pd.read_csv('patient.csv')
patient_df

     age     sex  glucose  cholesterol  height  weight  hip  waist diabetes
0     50    Male      385          140    1.75    78.0   41     37        Y
1     37  Female       67          214    1.63    65.8   42     34        N
2     43  Female      100          160    1.63    63.5   40     37        N
3     32  Female       90          176    1.60   114.3   58     45        N
4     20    Male       71          164    1.83    65.8   36     29        N
..   ...     ...      ...          ...     ...     ...  ...    ...      ...
343   40    Male       87          218    1.85    90.7   41     38        N
344   66    Male      174          188    1.73    95.3   48     45        N
345   31  Female       69          183    1.68    86.2   47     41        N
346   44    Male       84          202    1.73    71.2   37     33        N
347   40  Female       85          169    1.65    81.6   44     40        N

[348 rows x 9 columns]

In [2]:
patient_df['waist_hip_ratio']=round(patient_df['waist']/patient_df['hip'],2)# 2째 짜리 까지 반올림

In [3]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio
0,50,Male,385,140,1.75,78.0,41,37,Y,0.90
1,37,Female,67,214,1.63,65.8,42,34,N,0.81
2,43,Female,100,160,1.63,63.5,40,37,N,0.92
3,32,Female,90,176,1.60,114.3,58,45,N,0.78
4,20,Male,71,164,1.83,65.8,36,29,N,0.81
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.85,90.7,41,38,N,0.93
344,66,Male,174,188,1.73,95.3,48,45,N,0.94
345,31,Female,69,183,1.68,86.2,47,41,N,0.87
346,44,Male,84,202,1.73,71.2,37,33,N,0.89
347,40,Female,85,169,1.65,81.6,44,40,N,0.91

# 스케일: 스케일링을 통해 데이터 규모를 맞춰준다.
## 정규화 : 0, 1로 맞춰준다. (원래값-최솟값)/최대최소차
- 최대값은 1로 바뀌고 최솟값은 0으로 바뀐다.

In [5]:
patient_df['height']=(patient_df['height']-patient_df['height'].min())/(patient_df['height'].max()-patient_df['height'].min())

In [6]:
patient_df # height컬럼이 정규화 되었다.

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio
0,50,Male,385,140,0.704918,78.0,41,37,Y,0.90
1,37,Female,67,214,0.508197,65.8,42,34,N,0.81
2,43,Female,100,160,0.508197,63.5,40,37,N,0.92
3,32,Female,90,176,0.459016,114.3,58,45,N,0.78
4,20,Male,71,164,0.836066,65.8,36,29,N,0.81
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,0.868852,90.7,41,38,N,0.93
344,66,Male,174,188,0.672131,95.3,48,45,N,0.94
345,31,Female,69,183,0.590164,86.2,47,41,N,0.87
346,44,Male,84,202,0.672131,71.2,37,33,N,0.89
347,40,Female,85,169,0.540984,81.6,44,40,N,0.91

In [7]:
patient_df['height'].describe()

count    348.000000
mean       0.590588
std        0.163932
min        0.000000
25%        0.459016
50%        0.590164
75%        0.704918
max        1.000000
Name: height, dtype: float64

# 표준화: 각 값이 평균에 비해 얼마나 크고 작은지 나타낸다.
- 데이터 평균은 0 분산은 1로 변환한다.

In [9]:
(patient_df['height'] - patient_df['height'].mean()) / patient_df['height'].std()

0      0.697426
1     -0.502595
2     -0.502595
3     -0.802600
4      1.497440
         ...
343    1.697444
344    0.497423
345   -0.002586
346    0.497423
347   -0.302592
Name: height, Length: 348, dtype: float64

In [10]:
patient_df['height']=(patient_df['height'] - patient_df['height'].mean()) / \
patient_df['height'].std()

In [11]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio
0,50,Male,385,140,0.697426,78.0,41,37,Y,0.90
1,37,Female,67,214,-0.502595,65.8,42,34,N,0.81
2,43,Female,100,160,-0.502595,63.5,40,37,N,0.92
3,32,Female,90,176,-0.802600,114.3,58,45,N,0.78
4,20,Male,71,164,1.497440,65.8,36,29,N,0.81
...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.697444,90.7,41,38,N,0.93
344,66,Male,174,188,0.497423,95.3,48,45,N,0.94
345,31,Female,69,183,-0.002586,86.2,47,41,N,0.87
346,44,Male,84,202,0.497423,71.2,37,33,N,0.89
347,40,Female,85,169,-0.302592,81.6,44,40,N,0.91

### 정규화 vs 표준화
- 정규화: 모든 값을 0과1사이로 바꾸어 데이터 범위를 통일하고 싶을때 사용한다.
- 표준화: 평균 기준 떨어진 거리가 중요할 때 사용한다.

## 데이터 구간화

In [14]:
patient_df['age'].describe()
#20 대부터 60대나누기 위한 절차

count    348.000000
mean      43.505747
std       13.473101
min       20.000000
25%       33.000000
50%       42.000000
75%       55.000000
max       69.000000
Name: age, dtype: float64

In [15]:
pd.cut(patient_df['age'],bins=3)# 똑같은 길이 3구간이 만들어진다.

0      (36.333, 52.667]
1      (36.333, 52.667]
2      (36.333, 52.667]
3      (19.951, 36.333]
4      (19.951, 36.333]
             ...
343    (36.333, 52.667]
344      (52.667, 69.0]
345    (19.951, 36.333]
346    (36.333, 52.667]
347    (36.333, 52.667]
Name: age, Length: 348, dtype: category
Categories (3, interval[float64, right]): [(19.951, 36.333] < (36.333, 52.667] < (52.667, 69.0]]

In [16]:
pd.cut(patient_df['age'],bins=[20,30,40,50,60,70])
#이러한 방법도 있다.

0      (40.0, 50.0]
1      (30.0, 40.0]
2      (40.0, 50.0]
3      (30.0, 40.0]
4               NaN
           ...
343    (30.0, 40.0]
344    (60.0, 70.0]
345    (30.0, 40.0]
346    (40.0, 50.0]
347    (30.0, 40.0]
Name: age, Length: 348, dtype: category
Categories (5, interval[int64, right]): [(20, 30] < (30, 40] < (40, 50] < (50, 60] < (60, 70]]

In [17]:
patient_df['age_group']=pd.cut(patient_df['age'],bins=[20,30,40,50,60,70],right=False)
#right는 오른쪽 값을 포함할지 말지이다.

In [18]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio,age_group
0,50,Male,385,140,0.697426,78.0,41,37,Y,0.90,"[50, 60)"
1,37,Female,67,214,-0.502595,65.8,42,34,N,0.81,"[30, 40)"
2,43,Female,100,160,-0.502595,63.5,40,37,N,0.92,"[40, 50)"
3,32,Female,90,176,-0.802600,114.3,58,45,N,0.78,"[30, 40)"
4,20,Male,71,164,1.497440,65.8,36,29,N,0.81,"[20, 30)"
...,...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.697444,90.7,41,38,N,0.93,"[40, 50)"
344,66,Male,174,188,0.497423,95.3,48,45,N,0.94,"[60, 70)"
345,31,Female,69,183,-0.002586,86.2,47,41,N,0.87,"[30, 40)"
346,44,Male,84,202,0.497423,71.2,37,33,N,0.89,"[40, 50)"
347,40,Female,85,169,-0.302592,81.6,44,40,N,0.91,"[40, 50)"

In [19]:
patient_df['age_group']=pd.cut(patient_df['age'],bins=[20,30,40,50,60,70],\
                               right=False,labels=['20s','30s','40s','50s','60s'])
#lables를 추가하여 이름을 넣어

In [20]:
patient_df

,age,sex,glucose,cholesterol,height,weight,hip,waist,diabetes,waist_hip_ratio,age_group
0,50,Male,385,140,0.697426,78.0,41,37,Y,0.90,50s
1,37,Female,67,214,-0.502595,65.8,42,34,N,0.81,30s
2,43,Female,100,160,-0.502595,63.5,40,37,N,0.92,40s
3,32,Female,90,176,-0.802600,114.3,58,45,N,0.78,30s
4,20,Male,71,164,1.497440,65.8,36,29,N,0.81,20s
...,...,...,...,...,...,...,...,...,...,...,...
343,40,Male,87,218,1.697444,90.7,41,38,N,0.93,40s
344,66,Male,174,188,0.497423,95.3,48,45,N,0.94,60s
345,31,Female,69,183,-0.002586,86.2,47,41,N,0.87,30s
346,44,Male,84,202,0.497423,71.2,37,33,N,0.89,40s
347,40,Female,85,169,-0.302592,81.6,44,40,N,0.91,40s